*.opensdf
*.sdf
*.suo
*.ilk
*.idb
*.tlog
*.log
*.obj
*.pdb
*.exe
*vcxproj.user

*~

src/SimpleCapture/ipch/
src/SimpleCapture/x64
src/SimpleCapture/SimpleCapture/x64

src/SimpleCapture/SimpleCapture/moc_*.cpp
src/SimpleCapture/SimpleCapture/ui_*.h
